---
Checks: -*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-member-init,
  -bugprone-branch-clone,
WarningsAsErrors: "*,-modernize-*"
HeaderFilterRegex: ""
# AnalyzeTemporaryDtors: false
FormatStyle: file
# CheckOptions:
