.pio
.vscode/*

!.vscode/settings.json
!.vscode/extensions.json

book

.direnv

# https://github.com/github/gitignore/blob/main/community/Nix.gitignore
# Ignore build outputs from performing a nix-build or `nix build` command
result
result-*

# output of `pio run -t compiledb`
compile_commands.json

# Python Environments
.venv
venv
venv.bak
